name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.15', '1.14' ]
    steps:
    - name: Setup
      uses: actions/setup-go@v2
      with:
          go-version: ${{ matrix.go }}
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build & Test
      run: go test -v .
